html {
    font-family: Rubik, Verdana, Arial, sans-serif;
}

body {
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #525b56;
    background: linear-gradient(
    to bottom,
    rgba(0,0,0, 100),
    rgba(0,40,0, 100)
    );
}

.container {
    display: block;
    justify-content: center;
    width: 100%;
    margin: 0;
}
main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 10vh;
}

.blocki {
    display: block;
    width: 100%;
    height: 100%;
}

.cari {
    display: block;
    width: 100%;
}

button {
    border-width: medium;
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 1rem;
    background-color: #525b56;
    color: #e4ebf2;
    height: 100%;
    width: 30%;
    font-size: xx-large;
    margin-left: 6vw;
    margin-right: 6vw;

}
p {
    font-size: 3vw;
    color: #e4ebf2;
    margin-left: 24.5vw;
    margin-bottom: 0.5rem;
    margin-top: 0;
    padding: 0;
    padding-top: 5px;
}

body {
    text-align: center;
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #525b56;
    background: linear-gradient(
    to bottom,
    rgba(0,0,0, 100),
    rgba(0,40,0, 100)
    );
}

h1 {
    text-align: center;
    font-size: 3vw;
    display: block;
    color: #e4ebf2;
    width: 100%;
}

img {
    border-radius: 0.5rem;
    width: 30%;
    height: 100%;
    margin-right: 6vw;
    margin-left: 6vw;
}

